다음 코드에서는 한화팀과 SK팀간의 2017년 연봉의 평균간에는 유의미한 차이가 존재하는지 t-test로 검정했습니다.

In [5]:
# -*- coding: utf-8 -*-

%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [6]:
# Data Source : http://www.statiz.co.kr/

picher_file_path = '../data/picher_stats_2017.csv'
batter_file_path = '../data/batter_stats_2017.csv'
picher = pd.read_csv(picher_file_path)
batter = pd.read_csv(batter_file_path)

In [7]:
from scipy import stats

# SK와 한화 팀 선택
team_list = ['SK', '한화']
selected_team = picher[picher['팀명'].isin(team_list)]

# 팀별 연봉 평균 구하기
mean_salary = selected_team[selected_team['연봉(2017)'].notnull()].groupby('팀명')['연봉(2017)'].mean()
print("SK와 한화의 연봉 평균:\n", mean_salary)

# 팀별 연봉 표준편차 구하기
std_salary = selected_team[selected_team['연봉(2017)'].notnull()].groupby('팀명')['연봉(2017)'].apply(lambda x: np.std(x, ddof=1))
print("\nSK와 한화의 연봉 표준편차:\n", std_salary)

# 두 팀의 t-test 수행
t_statistic, p_value = stats.ttest_ind(selected_team[selected_team['팀명'] == 'SK']['연봉(2017)'], selected_team[selected_team['팀명'] == '한화']['연봉(2017)'], equal_var=False)

# 결과 출력
print("\nSK와 한화 팀의 연봉 t-test 결과")
print("t-statistic: %.3f  p-value: %.3f" % (t_statistic, p_value))
#결과 상 p-value가 0.05보다 크기 때문에 유의미한 차이가 없다.

SK와 한화의 연봉 평균:
 팀명
SK    12838.888889
한화    21490.000000
Name: 연봉(2017), dtype: float64

SK와 한화의 연봉 표준편차:
 팀명
SK    19120.889066
한화    28472.089750
Name: 연봉(2017), dtype: float64

SK와 한화 팀의 연봉 t-test 결과
t-statistic: -1.109  p-value: 0.275